html, body {
    height: 100%;
    margin: 0;
  }

  .player-list {
    position: fixed;
    left: 50px;
    top: 50px;
    padding: 16px;
    background-color: #343a40;
    height: calc(100% - 100px);
    width: 300px;
    overflow: auto;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }

  .player-count {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .player-name {
    margin-bottom: 4px;
  }

  .start-game-btn {
    font-size: 24px;
    padding: 20px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }